{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.user'|trans({'%username%': post_author}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'post_published.text'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'share_and_follow_community_feedback'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'post.title'|trans({'%post_title%': post_title}, 'emails')|raw }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'post_published_at'|trans({'%post_updated_at%': post_updated_at}, 'emails')|raw }}
		</td>
	</tr>
	<tr>
		<td style="text-align: center;">
			<a class="button" href="{{ url('homepage') }}" title="{{ 'go_to.website'|trans({'%app_name%': app_name}, 'emails') }}">
				{{ 'go_to.website'|trans({'%app_name%': app_name}, 'emails') }}
			</a>
		</td>
	</tr>
{% endblock %}
