{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row" style="text-align: center;">
			{{ 'welcome.user'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'thanks_choosing.app_name'|trans({'%app_name%': app_name}, 'emails') }}<br/>
			{{ 'happy_to_see_you'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'please_confirm_your_email'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td style="text-align: center;">
			<a class="button" href="{{ signedUrl|raw }}" title="{{ 'confirm_email'|trans([], 'emails') }}">
				{{ 'confirm_email'|trans([], 'emails') }}
			</a>
		</td>
	</tr>
	<tr>
		<td class="row">
			{% set expire_message = expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') %}
			{{ 'link_expire_in.message'|trans({'%expire_message%': expire_message}, 'emails') }}
		</td>
	</tr>
{% endblock %}
