{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.user'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'received_password_request_for_your_account'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'click_button_below'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td style="text-align: center;">
			<a class="button" href="{{ url('app_reset_password', {token: resetToken.token}) }}" title="{{ 'reset_password'|trans([], 'emails') }}">
				{{ 'reset_password'|trans([], 'emails') }}
			</a>
		</td>
	</tr>
	<tr>
		<td class="row">
			{% set expire_message = resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') %}
			{{ 'link_expire_in.message'|trans({'%expire_message%': expire_message}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{% set app_contact_link = '<a href="mailto:' ~ app_contact_email ~ '" title="' ~ app_contact_email ~ '">' ~ app_contact_email ~ '</a>' %}
			{{ 'if_not_send_request_ignore_or_contact'|trans({'%app_contact_link%': app_contact_link}, 'emails')|raw }}
		</td>
	</tr>
{% endblock %}
