{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.user'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'no_longer_member_announcement'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'thank_for_your_contribution_and_wish_you_all_the_best'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'if_you_change_your_mind'|trans([], 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'if_need_help'|trans([], 'emails') }}
		</td>
	</tr>
{% endblock %}
