{% extends 'base.html.twig' %}
{# {% translation_domain is defined ? translation_domain : 'messages' %} #}

{% block page_title %}
	{% if page_title is defined %}
		{{ page_title|trans }}
	{% endif %}
{% endblock %}

{% block body %}
	{% block menu %}{% endblock %}

	<div class="form-wrapper">
		<header class="main-header">
			<div id="header-logo">
				{% block header_logo %}
					{% if page_title %}
						<h3 class="logo">
							{{ page_title }}
						</h3>
					{% endif %}
				{% endblock header_logo %}
			</div>
		</header>

		<section class="content">
			{% for error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">
					<p>{{ error }}</p>
				</div>
			{% endfor %}

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div class="form-group">
				<label class="form-control-label required" for="registration_form_username">{{ _username_label }}</label>
				<div class="form-widget">
					{{ form_widget(registrationForm.username) }}
				</div>
			</div>

			<div class="form-group">
				<label class="form-control-label required" for="registration_form_email">{{ _email_label }}</label>
				<div class="form-widget">
					{{ form_widget(registrationForm.email) }}
				</div>
			</div>

			<div class="form-group field-password">
				<label class="form-control-label required" for="registration_form_plainPassword_first">{{ _password_first_label }}</label>
				<div class="form-widget">
					{{ form_widget(registrationForm.plainPassword.first) }}
				</div>
			</div>

			<div class="form-group field-password">
				<label class="form-control-label required" for="registration_form_plainPassword_second">{{ _password_second_label }}</label>
				<div class="form-widget">
					{{ form_widget(registrationForm.plainPassword.second) }}
				</div>
			</div>

			<div class="form-group">
				<label class="form-control-label required" for="registration_form_motivations">{{ _motivations_label }}</label>
				<div class="form-widget">
					{{ form_widget(registrationForm.motivations) }}
				</div>
			</div>

			<button type="submit" class="btn btn-primary btn-block w-100" style="block-size: 38px;">
				{{ _sign_up_label }}
			</button>

			<div class="login form-text">
				{{ 'register_page.already_registered'|trans([], 'forms') }}
				<a href="{{ path('app_login') }}">{{ _sign_in_label }}</a>
			</div>

			{{ form_end(registrationForm) }}
		</section>

		<footer>
			<a class="logo" title="{{ app_name }}" href="{{ path('app_homepage') }}">
				{{ app_name }}
			</a>
		</footer>
	</div>

	{% block footer %}{% endblock %}
{% endblock %}
