{% extends 'base.html.twig' %}
{% trans_default_domain 'forms' %}

{% set page_title = 'login_register_page.registration'|trans %}

{% block page_title %}
	{{ page_title|trans }}
{% endblock %}

{% block body %}
	{% block menu %}{% endblock %}

	<div class="form-container">
		<div class="form-wrapper registration">
			<header class="main-header">
				<div id="header-logo">
					{% block header_logo %}
						{% if page_title %}
							<h3 class="logo">
								{{ page_title|trans }}
							</h3>
						{% endif %}
					{% endblock header_logo %}
				</div>
			</header>

			<section class="content">
				{% for error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">
						<p>{{ error }}</p>
					</div>
				{% endfor %}

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword) }}
				{{ form_row(registrationForm.motivations) }}
				{{ form_row(registrationForm.submit) }}

				<div class="form-text already-registered">
					{{ 'register_page.already_registered'|trans([], 'forms') }}
					<a href="{{ path('app_login') }}">{{ 'login_register_page.sign_in'|trans }}</a>
				</div>

				{{ form_end(registrationForm) }}
			</section>

			<footer>
				<a class="logo" title="{{ app_name }}" href="{{ path('app_homepage') }}">
					{{ app_name }}
				</a>
			</footer>
		</div>
	</div>

	{% block footer %}{% endblock %}
{% endblock %}
