{% extends 'base.html.twig' %}
{% trans_default_domain 'forms' %}

{% set page_title = 'reset.password.email.send.title'|trans %}
{% set expire_message = resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') %}
{% set try_again_link = '<a href="' ~ path('forgot_password_request') ~ '">' ~ 'try.again.label'|trans ~ '</a>' %}

{% block page_title %}
	{{ page_title|trans }}
{% endblock %}

{% block body %}
	{% block menu %}{% endblock %}

	<div class="check-email-container">
		<div class="check-email-wrapper">
			<div class="check-email-content">
				<p>{{ 'reset.password.request.send.text'|trans }}</p>
				<p>{{ 'link_expire_in.message'|trans({'%expire_message%': expire_message}, 'emails') }}</p>
				<p>{{ 'reset.password.request.mail.reception.fail.text'|trans({'%try_again_link%': try_again_link})|raw }}</p>
			</div>
			<footer>
				<a class="logo" title="{{ app_name }}" href="{{ path('homepage') }}">
					{{ app_name }}
				</a>
			</footer>
		</div>
	</div>

	{% block footer %}{% endblock %}
{% endblock %}
