{% extends 'base.html.twig' %}

{% block title %}{{ 'reset.password.email.send.title'|trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'reset.password.request.send.text'|trans }}
        {{ 'link.expire.in'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'reset.password.request.mail.reception.fail.text'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'try.again.label'|trans }}</a>.</p>
{% endblock %}