{% extends 'base.html.twig' %}

{% block title %}{{ 'reset.password.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'reset.password.title'|trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        {{ form_row(resetForm.submit) }}
    {{ form_end(resetForm) }}
{% endblock %}
