{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.admin'|trans({'%admin%': app_author}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'user.send_registration_request'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ user_motivation }}
		</td>
	</tr>
	<tr>
		<td style="text-align: center;">
			<a class="button" href="{{ url('app_homepage') }}" title="{{ 'go_to.website'|trans({'%app_name%': app_name}, 'emails') }}">
				{{ 'go_to.website'|trans({'%app_name%': app_name}, 'emails') }}
			</a>
		</td>
	</tr>
{% endblock %}
