{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.admin'|trans({'%admin%': app_author}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'post_status_edited.text'|trans({'%post_author%': post_author, '%post_status%': post_status}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'post.title'|trans({'%post_title%': post_title}, 'emails')|raw }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'post.updated_at'|trans({'%post_updated_at%': post_updated_at}, 'emails')|raw }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'review_if_necessary'|trans([], 'emails') }}
		</td>
	</tr>
{% endblock %}
