{% extends 'base.html.twig' %}

{% block page_title %}
	Post
{% endblock %}

{% block body_attr %}
	data-controller="increment-views"
{% endblock %}

{% set avatar_path = post.user ? post.user.avatar ? 'images/uploads/posts/thumbnails/' ~ post.user.avatar : 'images/default/avatar.svg' %}
{% set thumbnail_path = post.thumbnail ? 'images/uploads/posts/thumbnails/' ~ post.thumbnail : 'images/default/thumbnail.svg' %}

{% block body %}
	<h1>Post</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Title</th>
				<td>{{ post.title }}</td>
			</tr>
			<tr>
				<th>Author</th>
				<td>{{ post.user ? post.user.username ?? 'Utilisateur supprimé' }}</td>
			</tr>
			<tr>
				<th>Avatar</th>
				{# <td><img src="{{ asset(avatar_path) }}" loading="lazy"></td> #}
				<td><img src="{{ post.user.avatar }}" loading="lazy"></td>
			</tr>
			<tr>
				<th>A propos</th>
				<td>{{ post.user ? post.user.about ?? 'vide' }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ post.createdAt ? post.createdAt|date('Y/m/d H:i') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ post.updatedAt ? post.updatedAt|date('Y/m/d H:i') : '' }}</td>
			</tr>
			<tr>
				<th>Thumbnail</th>
				<td>
					{# <img src="{{ asset(thumbnail_path) }}" loading="lazy"> #}
					<img src="{{ post.thumbnail }}" loading="lazy">
				</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ post.content|raw }}</td>
			</tr>
			<tr>
				<th>Étiquettes</th>
				{% for tag in post.tags|sort((a, b) => a.name <=> b.name) %}
					<td>
						<a href="{{ path('tag', {'slug': tag.slug}) }}">{{ tag.name }}</a>
					</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>

	<a href="{{ path('homepage') }}">back to list</a>
{% endblock %}
