{% extends 'base.html.twig' %}

{% block page_title %}Post index
{% endblock %}

{% block body %}
	<h1>Post index</h1>

	<table class="table">
		<tbody>
			{% for post in posts %}
				{% if post.status is same as(enum('App\\Enum\\PostStatus').PUBLISHED) %}
					<tr>
						<td>
							<a href="{{ path('app_post_show', {'nameSlug': post.category.nameSlug, 'titleSlug': post.titleSlug}) }}">
								<img src="{{ asset('uploads/images/posts/thumbnails/' ~ post.thumbnail) }}" loading="lazy">
							</a>
						</td>
						<td>{{ post.title }}</td>
						<td>{{ post.createdAt ? post.createdAt|date('Y/m/d H:i') : '' }}</td>
						<td>{{ post.updatedAt ? post.updatedAt|date('Y/m/d H:i') : '' }}</td>
						{% for tag in post.tags %}
							<td>{{ tag }}</td>
						{% endfor %}
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
