{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
	<h1>Post</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Title</th>
				<td>{{ post.title }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ post.createdAt ? post.createdAt|date('Y/m/d H:i') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ post.updatedAt ? post.updatedAt|date('Y/m/d H:i') : '' }}</td>
			</tr>
			<tr>
				<th>Thumbnail</th>
				<td>
					<img src="{{ asset('uploads/images/posts/thumbnails/' ~ post.thumbnail) }}" loading="lazy">
				</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ post.content|raw }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_post_index') }}">back to list</a>
{% endblock %}
