<nav>
    {# <a class="logo-veille-seo" href="{{path('app_homepage')}}"><img class="logo" src="{{ asset('images/logo-veille-seo.png') }}" alt="Logo Veille SEO"></a> #}
	<a class="nav-lien" href="{{path('app_login')}}">{{ 'sign_in.label'|trans([], 'forms') }}</a>
	<a class="nav-lien" href="{{path('app_register')}}">{{ 'sign_up.label'|trans([], 'forms') }}</a>
</nav>